<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fouriermachines.ani.client.articulationclient">

    <application>
        <service
            android:name="FrameworkInterface.InterfaceImplementation.Services.SynthesizerConveyService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name="FrameworkInterface.InterfaceImplementation.Services.PlayerConveyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="FrameworkInterface.InterfaceImplementation.Services.ArticulationConveyService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>