<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fouriermachines.ani.client.kineticsclient">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <service
            android:name="FrameworkInterface.InterfaceImplementation.Services.KineticsParameterUpdatesConveyService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name="FrameworkInterface.InterfaceImplementation.Services.KineticsRemoteRequestConveyService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name="FrameworkInterface.InterfaceImplementation.Services.KineticsResponseConveyService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name="FrameworkInterface.InterfaceImplementation.Services.KineticsBindStatusConveyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>